@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: radial-gradient(
      800px 400px at 20% -10%,
      rgba(99,102,241,0.18),
      transparent 45%
    ),
    #0b0b0f;
  color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
